.Weather {
    border: 1px solid #B48CB8;
    color: #f7f2f2;
    color: rgb(255, 255, 255);
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
    background-image: linear-gradient(180deg,  #B98CB8, #605F91);
    opacity: 0.7;
    
}

.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    display: block;
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 28.8px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    list-style: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;

}

.Weather canvas {
    margin: 10px auto;
    
}

.Weather .temperature {
    font-weight: bold;
    color: #fcfbfb;
    font-size: 45px;
    font-weight: 400;
    line-height: 80px;
    top: 10px;
    position: relative;
    flex-direction: column-reverse;
}

.unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -10px;
    margin-left: 5px;
}

.Weather .btn {
    color: #302030;
    background: #d58cd5;
    border: #351035;
    border-radius: 50% 50% 5 5;
}

.Weather .btn:hover {
    font-size: 16px;
    opacity: 0.5;
    background: linear-gradient(#eddded, #dec4db);
    opacity: 0.5;
    border: #d466d4;
}
