.weather-temperature {
    position:relative;
    left:50px; 
    bottom:5px;
}

.weather-icon {
    position:relative;
    right:100px; 
    top:3px;
}

.weather-climate {
    position:relative;
    left:80px; 
    top:20px;
}
